<h2>
  <span class="post_title"><%= @post.title %></span>
</h2>

<div class="container">
	<div class="col-lg-10">
				<p>
					<div class="post_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @post.text.gsub(/\n/, '<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;').html_safe %></div>
				</p>
	</div>
</div>

<div class="container">
		<div class="col-lg-8">
				<% if cookies.has_key?(:remember_token) and User.find_by_remember_token(cookies[:remember_token]) %>
					<h2>Add a comment:</h2>
					<%= form_for([@post, @post.comments.build]) do |f| %>
						<p>
							<%= f.text_area :body, cols: 80, rows: 15, class: "form-control"  %>
						</p>
						<%= f.hidden_field :user_id, :value => User.find_by_remember_token(cookies[:remember_token]).id %>
						<p>
							<%= f.submit class: "btn btn-default"%>
						</p>
					<% end %>
				<% end %>
		</div>
</div>

	<% if @post.comments.all.size > 0 %>
		<h2>Comments</h2>
		<%= render @post.comments %>
	<% end %>
